.container-fluid.grid
  .row.grid
    .col-md-7.grid
      %a.fancybox{ rel: 'group', href: '/images/alternative_piano.jpg' }
        =image_tag('alternative_piano.jpg', class: 'img-responsive right bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/alternative_lighters.jpg' }
        =image_tag('alternative_lighters.jpg', class: 'img-responsive bottom right', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/alternative_watch.jpg' }
        =image_tag('alternative_watch.jpg', class: 'img-responsive bottom right', width: '100%')
    .col-md-5.grid
      %a.fancybox{ rel: 'group', href: '/images/alternative_guitar.JPG' }
        =image_tag('alternative_guitar.JPG', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/alternative_bugera.jpg' }
        =image_tag('alternative_bugera.jpg', class: 'img-responsive bottom right', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/alternative_me.jpg' }
        =image_tag('alternative_me.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/alternative_waterbottle.jpg' }
        =image_tag('alternative_waterbottle.jpg', class: 'img-responsive bottom right', width: '100%')