.container-fluid.grid
  .row.grid
    .col-md-12
      %a.fancybox{ rel: 'group', href: '/images/landscape_lake1.jpg' }
        =image_tag('landscape_lake1.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_tree7.jpg' }  
        =image_tag('landscape_tree7.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_bridge.jpg' }
        =image_tag('landscape_bridge.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_tree1.JPG' }
        =image_tag('landscape_tree1.JPG', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/alternative_guitar.JPG' }
        =image_tag('alternative_guitar.JPG', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_flower.jpg' }
        =image_tag('landscape_flower.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/alternative_piano.jpg' }
        =image_tag('alternative_piano.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/alternative_watch.jpg' }
        =image_tag('alternative_watch.jpg', class: 'img-responsive bottom', width: '100%')

