.container-fluid.grid
  .row.grid
    .col-md-5.grid
      %a.fancybox{ rel: 'group', href: '/images/landscape_trees.JPG' }
        =image_tag('landscape_trees.JPG', class: 'img-responsive right bottom', width: '100%')