.container-fluid.grid
  .row.grid
    .col-md-6.grid.pad-right
      %a.fancybox{ rel: 'group', href: '/images/landscape_sunset2.jpg' }
        =image_tag('landscape_sunset2.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_tree1.jpg' }
        =image_tag('landscape_tree1.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_sunset1.jpg' }
        =image_tag('landscape_sunset1.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_tree8.jpg' }
        =image_tag('landscape_tree8.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_pillars.jpg' }
        =image_tag('landscape_pillars.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_bridge.jpg' }
        =image_tag('landscape_bridge.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_tree16.jpg' }
        =image_tag('landscape_tree16.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_flower3.jpg' }
        =image_tag('landscape_flower3.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_tree11.jpg' }
        =image_tag('landscape_tree11.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_tree3.jpg' }
        =image_tag('landscape_tree3.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_tree19.jpg' }
        =image_tag('landscape_tree19.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_sunset5.jpg' }
        =image_tag('landscape_sunset5.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_tree4.jpg' }
        =image_tag('landscape_tree4.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_tree15.jpg' }
        =image_tag('landscape_tree15.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_tree5.jpg' }
        =image_tag('landscape_tree5.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_tree13.jpg' }
        =image_tag('landscape_tree13.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_tree20.jpg' }
        =image_tag('landscape_tree20.jpg', class: 'img-responsive bottom', width: '100%')
    .col-md-6.grid.pad-left
      %a.fancybox{ rel: 'group', href: '/images/landscape_sunset7.jpg' }
        =image_tag('landscape_sunset7.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_tree12.jpg' }
        =image_tag('landscape_tree12.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_flower4.jpg' }
        =image_tag('landscape_flower4.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_tree9.jpg' }
        =image_tag('landscape_tree9.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_lake1.jpg' }
        =image_tag('landscape_lake1.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_tree17.jpg' }
        =image_tag('landscape_tree17.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_tree2.jpg' }
        =image_tag('landscape_tree2.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_sunset3.jpg' }
        =image_tag('landscape_sunset3.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_tree10.jpg' }
        =image_tag('landscape_tree10.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_flower.jpg' }
        =image_tag('landscape_flower.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_tree6.jpg' }
        =image_tag('landscape_tree6.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_sunset4.jpg' }
        =image_tag('landscape_sunset4.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_flower2.jpg' }
        =image_tag('landscape_flower2.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_tree7.jpg' }
        =image_tag('landscape_tree7.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_tree18.jpg' }
        =image_tag('landscape_tree18.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_tree14.jpg' }
        =image_tag('landscape_tree14.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/landscape_sunset8.jpg' }
        =image_tag('landscape_sunset8.jpg', class: 'img-responsive bottom', width: '100%')