.container-fluid.grid
  .row.grid
    .col-md-6.grid.pad-right
      %a.fancybox{ rel: 'group', href: '/images/music_wgly4.jpg' }  
        =image_tag('music_wgly4.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_letterbomb3.jpg' }
        =image_tag('music_letterbomb3.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_ironsights1.jpg' }  
        =image_tag('music_ironsights1.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_everview2.jpg' }
        =image_tag('music_everview2.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_ota1.jpg' }
        =image_tag('music_ota1.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_kiwf4.jpg' }  
        =image_tag('music_kiwf4.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_superior1.jpg' }  
        =image_tag('music_superior1.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_ironsights4.jpg' }  
        =image_tag('music_ironsights4.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_btt4.jpg' }  
        =image_tag('music_btt4.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_wgly3.jpg' }  
        =image_tag('music_wgly3.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_letterbomb2.jpg' }
        =image_tag('music_letterbomb2.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_hoodlums2.jpg' }
        =image_tag('music_hoodlums2.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_mithya2.jpg' }  
        =image_tag('music_mithya2.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_everview1.jpg' }
        =image_tag('music_everview1.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_kiwf1.jpg' }  
        =image_tag('music_kiwf1.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_hoodlums3.jpg' }
        =image_tag('music_hoodlums3.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_superior2.jpg' }  
        =image_tag('music_superior2.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_ota4.jpg' }
        =image_tag('music_ota4.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_mithya1.jpg' }  
        =image_tag('music_mithya1.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_btt1.jpg' }  
        =image_tag('music_btt1.jpg', class: 'img-responsive bottom', width: '100%')
    .col-md-6.grid.pad-left
      %a.fancybox{ rel: 'group', href: '/images/music_mithya3.jpg' }  
        =image_tag('music_mithya3.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_hoodlums1.jpg' }
        =image_tag('music_hoodlums1.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_letterbomb4.jpg' }
        =image_tag('music_letterbomb4.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_everview4.jpg' }
        =image_tag('music_everview4.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_superior3.jpg' }  
        =image_tag('music_superior3.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_kiwf2.jpg' }  
        =image_tag('music_kiwf2.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_ironsights2.jpg' }  
        =image_tag('music_ironsights2.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_btt2.jpg' }  
        =image_tag('music_btt2.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_ota2.jpg' }
        =image_tag('music_ota2.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_wgly2.jpg' }  
        =image_tag('music_wgly2.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_letterbomb1.jpg' }
        =image_tag('music_letterbomb1.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_hoodlums4.jpg' }
        =image_tag('music_hoodlums4.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_everview3.jpg' }
        =image_tag('music_everview3.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_btt3.jpg' }  
        =image_tag('music_btt3.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_superior4.jpg' }  
        =image_tag('music_superior4.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_mithya4.jpg' }  
        =image_tag('music_mithya4.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_wgly1.jpg' }  
        =image_tag('music_wgly1.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_ota3.jpg' }
        =image_tag('music_ota3.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_kiwf3.jpg' }  
        =image_tag('music_kiwf3.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_ironsights3.jpg' }  
        =image_tag('music_ironsights3.jpg', class: 'img-responsive bottom', width: '100%')