.container-fluid.grid
  .row.grid
    .col-md-6.grid
      %a.fancybox{ rel: 'group', href: '/images/music_letterbomb3.jpg' }
        =image_tag('music_letterbomb3.jpg', class: 'img-responsive right bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_everview2.jpg' }
        =image_tag('music_everview2.jpg', class: 'img-responsive right bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_letterbomb2.jpg' }
        =image_tag('music_letterbomb2.jpg', class: 'img-responsive right bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_hoodlums2.jpg' }
        =image_tag('music_hoodlums2.jpg', class: 'img-responsive right bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_everview1.jpg' }
        =image_tag('music_everview1.jpg', class: 'img-responsive right bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_hoodlums3.jpg' }
        =image_tag('music_hoodlums3.jpg', class: 'img-responsive right bottom', width: '100%')
    .col-md-6.grid
      %a.fancybox{ rel: 'group', href: '/images/music_hoodlums1.jpg' }
        =image_tag('music_hoodlums1.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_letterbomb4.jpg' }
        =image_tag('music_letterbomb4.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_everview4.jpg' }
        =image_tag('music_everview4.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_letterbomb1.jpg' }
        =image_tag('music_letterbomb1.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_hoodlums4.jpg' }
        =image_tag('music_hoodlums4.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/music_everview3.jpg' }
        =image_tag('music_everview3.jpg', class: 'img-responsive bottom', width: '100%')