.container-fluid.grid
  .row.grid
    .col-md-6.grid.pad-right
      %a.fancybox{ rel: 'group', href: '/images/portraiture_notide1.jpg' }
        =image_tag('portraiture_notide1.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/portraiture_asbty1.jpg' }  
        =image_tag('portraiture_asbty1.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/portraiture_notide3.jpg' }
        =image_tag('portraiture_notide3.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/portraiture_asbty3.jpg' }  
        =image_tag('portraiture_asbty3.jpg', class: 'img-responsive bottom', width: '100%')
    .col-md-6.grid.pad-left
      %a.fancybox{ rel: 'group', href: '/images/portraiture_notide2.jpg' }
        =image_tag('portraiture_notide2.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/portraiture_asbty2.jpg' }  
        =image_tag('portraiture_asbty2.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/portraiture_notide4.jpg' }
        =image_tag('portraiture_notide4.jpg', class: 'img-responsive bottom', width: '100%')
      %a.fancybox{ rel: 'group', href: '/images/portraiture_asbty4.jpg' }  
        =image_tag('portraiture_asbty4.jpg', class: 'img-responsive bottom', width: '100%')