.container-fluid
  .row
    .col-md-6.col-md-offset-3
      .well
        %h2.text-center Standard Package
        %hr.price-split
        %h3.text-center.no-bottom Up to a 2 hour photo shoot
        %h4.text-center (Additional fee for extra hours)
        %h3.text-center CD of finalized photos
        %h3.text-center.no-bottom Digital copy of finalized photos 
        %h4.text-center (Distribution method decided by client)
        %hr.price-split
        %h2.text-center $60
    .col-md-6.col-md-offset-3
      .well
        %h2.text-center Tier 2 Package
        %hr.price-split
        %h3.text-center.no-bottom Up to a 2 hour photo shoot
        %h4.text-center (Additional fee for extra hours)
        %h3.text-center CD of finalized photos
        %h3.text-center.no-bottom Digital copy of finalized photos 
        %h4.text-center (Distribution method decided by client)
        %hr.price-split
        %h2.text-center $60

        

