/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* VARIABLES */
$blue: #26B7FF;
$gray: #2e2e2e;
$bg: #ffffff;

/* MEDIA QUERIES */
@media all and (max-width: 764px) {
  .navbar-brand {
    margin-left: 15px !important;
  }
}

/* GLOBAL STYLES */
* {
  font-family: "Raleway" !important;
  color: $gray !important;
  font-weight: 200 !important;
}

.fa {
  font-family: FontAwesome !important;
}

body {
  margin-top: 50px;
  background-color: $bg;
  height: 100%;
  padding-bottom: 33px;
}

a, i {
  color: $blue !important;
  &:hover {
    color: darken($blue, 20%) !important;
    text-decoration: none;
  }
  transition: color 175ms ease-out;
}

.navbar-fixed-top {
  background-color: rgba(255,255,255,0.8);
  border-bottom: 0px !important;
  .navlink {
    font-weight: 400 !important;
    color: $gray !important;
    &:hover {
      color: $blue !important;
    }
    font-size: 18px !important;
  }
}

.soc-links {
  letter-spacing: 5px;
  margin-bottom: 4px !important;
  text-align: right;
}

/* UTILITIES */
.big-top {
  margin-top: 250px;
}

/* BOOTSTRAP OVERRIDES */
.navbar-brand {
  font-weight: 400 !important;
  padding: 0px !important;
  padding-top: 4px !important;
}

nav.navbar.navbar-default.navbar-fixed-bottom.footer {
  background-color: transparent !important;
  padding: 0px !important;
  min-height: 10px !important;
  border-top: 0px !important;
  .container-fluid {
    padding-top: 0px !important;
  }
}

.row {
  margin: 0px !important;
}

.navbar-collapse {
  padding-right: 0px !important;
}

.navbar-collapse.collapse.in, .navbar-collapse.collapsing {
  .nav.navbar-nav.navbar-right {
    margin-left: 15px !important;
  }
  background-color: white !important;
}

.container-fluid {
  width: 100% !important;
}

.bottom {
  padding-bottom: 4px;
}

.top {
  padding-top: 4px;
}

.left {
  padding-left: 4px;
}

.right {
  padding-right: 4px;
}

.grid {
  padding: 0px !important;
}

.pad-right {
  padding-right: 2px !important;
}

.pad-left {
  padding-left: 2px !important;
}

.price {
  border-left: 1px solid $gray;
}

.no-bottom {
  margin-bottom: 0px !important;
}

hr {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.addon {
  color: $gray !important;
  &:hover {
    color: $gray !important;
  }
}

.price-split {
  border-top: 1px solid $gray;
}

.icon-bar {
  background-color: $blue !important;
}

@media all and (max-width: 982px) {
  .right {
    padding-right: 0px !important;
  }

  .pad-right {
    padding-right: 0px !important;
  }

  .pad-left {
    padding-left: 0px !important;
  }
 .soc-links {
    text-align: center !important;
  }
  .hide-at-small {
    display: none;
  }
}

.squeeze {
  max-width: 1920px !important;
}

.small {
  margin-bottom: 0px !important;
  margin-top: 5px !important;
}

