%nav.navbar.navbar-default.navbar-fixed-bottom.footer
  .container-fluid.grid.squeeze
    .row
      .col-md-6.hide-at-small
        %p.small 
          %em Copyright 2015 Peter Barnes
      .col-md-6.col-xs-12
        %p.soc-links
          %a{ href: 'https://www.facebook.com/peterbarnesphotography', target: 'blank' }
            %i.fa.fa-facebook-square.fa-2x
          %a{ href: 'https://www.flickr.com/photos/130397051@N05/', target: 'blank' }
            %i.fa.fa-flickr.fa-2x
          %a{ href: 'http://instagram.com/peterbarnesphotography/', target: 'blank' }
            %i.fa.fa-instagram.fa-2x
          %a{ href: 'https://twitter.com/pcb213', target: 'blank' }
            %i.fa.fa-twitter-square.fa-2x
          %a{ href: "mailto:barnespeter213@gmail.com", target: '_top' }
            %i.fa.fa-envelope-o.fa-2x