.row.navigation
  .col-md-2.brand
    %a{ href: '/' }
      %h4 
        Peter Barnes 
        %br Photography
  .col-md-2
    %a.navlink{ href: '/landscape' }
      %h4.text-center Landscape
  .col-md-2
    %a.navlink{ href: '/events' }
      %h4.text-center Events
  .col-md-2
    %a.navlink{ href: '/video' }
      %h4.text-center Video
  .col-md-2
    %a.navlink{ href: '/contact' }
      %h4.text-center Contact
