.row.navigation
  .col-md-2.col-xs-2.brand
    %a{ href: '#' }
      %h4 Peter Barnes Photography
  .col-md-2.col-xs-2
    %a.navlink{ href: '#' }
      %h4.text-center Landscape
  .col-md-2.col-xs-2
    %a.navlink{ href: '#' }
      %h4.text-center Events
  .col-md-2.col-xs-2
    %a.navlink{ href: '#' }
      %h4.text-center Video
  .col-md-2.col-xs-2
    %a.navlink{ href: '#' }
      %h4.text-center Contact
