%nav.navbar-fixed-top.navbar-inverse
  .container-fluid.squeeze
    .navbar-header
      %button.navbar-toggle.collapsed{ type: "button", data: { toggle: "collapse", target: ".navbar-collapse" } }
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: "/" }
        Peter Barnes
        %br Photography
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
      %ul.nav.navbar-nav.navbar-right
        %li
          %a.navlink{ href: "/landscape" } Landscape
        %li
          %a.navlink{ href: "/music" } Music
        %li
          %a.navlink{ href: "/portraiture" } Portraiture
        %li
          %a.navlink{ href: "/alternative" } Alternative
        %li
          %a.navlink{ href: "/video" } Video
